###############################################################################
# Dependencies                                                                #
###############################################################################
node_modules

###############################################################################
# Temporary files                                                             #
###############################################################################
*.log
*.tmp
tmp/
logs/

###############################################################################
# Live Code                                                            #
###############################################################################
dist/